extends layouts/app
block content
  #bg-image
    .overlay-bg
      .intro-content
          .col-sm-12
            p Dành cho tài khoản cá nhân
            a(href="/members/login" class="btn btn-success btn-lg") Đăng nhập
            a(href="/members/register" class="btn btn-primary btn-lg") Đăng ký
          .col-sm-12
            p Dành cho tài khoản doanh nghiệp
            a(href="/partners/login" class="btn btn-danger btn-lg") Đăng nhập
            a(href="/partners/register" class="btn btn-info btn-lg") Đăng ký
          .col-sm-12
            p  Hãy đăng ký là thành viên để sử dụng dịch vụ thanh toán nhanh tại bất cứ đâu
  .intro-info
    .container
      .row
        .col-sm-6
          
