extends ../layouts/member
block content
  .container
    .row
      .col-sm-12
        .page-header
          h1.text-center Thông tin cá nhân
        p Tài khoản còn lại:
          span= " "+money +" đ"
