.innerBox
  span.logo NC
  span.badge#notifNumber
  span(onclick="closeMsgBox(this)" id="nc-close-box") X
  div(class="nc-box-msg" id="nc-box-msg" style="display: none;")
    .nc-box-header
      .header-title
        h3 Thông báo
      .header-close
    .nc-box-content
      ul.nc-list-msg#nc-list-msg
        fff
