#header
  nav.navbar.navbar-toggleable-sm.navbar-light.bg-faded
    button(class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" )
      span.navbar-toggler-icon
    a(class="navbar-brand" href="/") Mysite
    .collapse.navbar-collapse#navbarNav
      ul.nav.navbar-nav.mr-0.mr-lg-auto
        li.nav-item.dropdown
          a(class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown") Người bán TMĐT
          div(class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink")
            a(class="dropdown-item" href="#") Giới thiệu dịch vụ
            a(class="dropdown-item" href="/guideIntegrate") Hướng dẫn tích hợp
        li.nav-item
          a(href="/partners/dashboard" class="nav-link") Dashboard
        li.nav-item
          a(href="/partners/logout" class="nav-link") Đăng xuất
